extends menu

block content
  .table-container
    .table-header
      h2 Allocations
      a(href='/petco/live-animal/allocations/create')
        button.button.new-row-action(style= permissions.canAddAllocations ? '' : 'display: none;') Add New

    table.table.allocation-list-table
      thead
        tr
          th Allocation Name
          th Allocation Date
          th Review Due Date
          th Allocation Status
          th Action
      tbody
        each allocation in allocations
          tr
            td= allocation.alloc_name
            td= allocation.alloc_date
            td= allocation.alloc_review_due_date
            td= allocation.alloc_status
            td
              if allocation.alloc_status !== 'Complete' && permissions.canUpdateAllocations
                a(href=`/petco/live-animal/allocations/${allocation.alloc_id}/update`) 
                  button.button(view-edit-button-action) View/Edit
              else if allocation.alloc_status === 'RCAC Review' && permissions.canReviewAllocations
                a(href=`/petco/live-animal/allocations/${allocation.alloc_id}/update`) 
                  button.button(review-button-action) Review
              else
                a(href=`/petco/live-animal/allocations/${allocation.alloc_id}/update`) 
                  button.button(view-button-action) View
