extends menu

block content
  .form-container
    if permissions.canViewAllocParams
      .allocation-settings
        // Check if allocation exists and is in 'Setup' status
        if allocation && allocation.alloc_status === 'Setup'
          // If user can update and allocation status is 'Setup', fields are editable
          if permissions.canUpdateAllocParams
            .form-field
              label(for="allocationName") Allocation Name: 
                span.required  *
              input(type="text" id="allocationName" name="allocationName" value=allocation.alloc_name required)
            .form-field
              label(for="allocationDate") Allocation Date:
                span.required  *
              input(type="date" id="allocationDate" name="allocationDate" value=allocation.alloc_date required)
            .form-field
              label(for="allocationReviewDate") Allocation Review Due Date:
                span.required  *
              input(type="date" id="allocationReviewDate" name="allocationReviewDate" value=allocation.alloc_review_due_date required)
            .form-field
              label(for="allocationStatus") Allocation Status:
                span.required  *
              select(id="allocationStatus" name="allocationStatus" required)
                option(value="Setup" selected=(allocation.alloc_status === 'Setup')) Setup
                option(value="RCAC Review" selected=(allocation.alloc_status === 'RCAC Review')) RCAC Review
                option(value="Sent To Vendor" selected=(allocation.alloc_status === 'Sent To Vendor')) Sent To Vendor
                option(value="Cancelled" selected=(allocation.alloc_status === 'Cancelled')) Cancelled
                option(value="Complete" selected=(allocation.alloc_status === 'Complete')) Complete
          else
            // If user can view but cannot update, fields are visible but not editable
            if permissions.canViewAllocParams
              .form-field
                label Allocation Name:
                input(type="text" value=allocation.alloc_name readonly)
              .form-field
                label Allocation Date:
                input(type="date" value=allocation.alloc_date readonly)
              .form-field
                label Allocation Review Due Date:
                input(type="date" value=allocation.alloc_review_due_date readonly)
              .form-field
                label Allocation Status:
                input(type="text" value=allocation.alloc_status readonly)
        else if allocation && (allocation.alloc_status === 'Complete' || allocation.alloc_status === 'Cancelled')
          // Fields are visible but not editable
          if permissions.canUpdateAllocParams || permissions.canViewAllocParams
            .form-field
              label Allocation Name:
              input(type="text" value=allocation.alloc_name readonly)
            .form-field
              label Allocation Date:
              input(type="date" value=allocation.alloc_date readonly)
            .form-field
              label Allocation Review Due Date:
              input(type="date" value=allocation.alloc_review_due_date readonly)
            .form-field
              label Allocation Status:
              input(type="text" value=allocation.alloc_status readonly)
        else
          // If no specific allocation status or new allocation, default to editable fields if permissions allow
          if permissions.canUpdateAllocParams
            .form-field
              label(for="allocationName") Allocation Name: 
                span.required  *
              input(type="text" id="allocationName" name="allocationName" required)
            .form-field
              label(for="allocationDate") Allocation Date:
                span.required  *
              input(type="date" id="allocationDate" name="allocationDate" required)
            .form-field
              label(for="allocationReviewDate") Allocation Review Due Date:
                span.required  *
              input(type="date" id="allocationReviewDate" name="allocationReviewDate" required)
            .form-field
              label(for="allocationStatus") Allocation Status:
                span.required  *
              select(id="allocationStatus" name="allocationStatus" required)
                option(value="Setup" selected) Setup
                option(value="RCAC Review") RCAC Review
                option(value="Sent To Vendor") Sent To Vendor
                option(value="Cancelled") Cancelled
                option(value="Complete") Complete
          else
            // If user can view but not update, fields are visible but not editable
            if permissions.canViewAllocParams
              .form-field
                label Allocation Name:
                input(type="text" readonly)
              .form-field
                label Allocation Date:
                input(type="date" readonly)
              .form-field
                label Allocation Review Due Date:
                input(type="date" readonly)
              .form-field
                label Allocation Status:
                input(type="text" readonly)
    // If user cannot view allocation parameters, nothing is rendered


    if permissions.canViewAllocParams
      table.table.alloc-params-table
        thead
          tr
            th(title="Please enter the sku number.") SKU Number 
              span.required  *
            th Description
            th(title="Enter a like sku only if there is limited sales history for the main sku, otherwise leave blank.") Like SKU
            th(title="Select whether you are using a Target WOS or a Target Qty.") Allocation Method
              span.required  *
            th(title="Enter either a Target WOS -or- a company-wide Target Qty for the allocation.") Target WOS
            th(title="Enter either a Target WOS -or- a company-wide Target Qty for the allocation.") Target Quantity
            th(title="If the vendor has limited supply, select this option to notify the RCAC's not to add qty unless if they have taken from another store.") Hard Quantity Limit
            th(title="Select whether you want to base the allocation off of LY Sales, CY Sales, the Subclass or Sku Factor.") Main Sales Method
              span.required  *  
            th(title="This estimate is used to calculate sales for stores that are assigned the Subclass or Sku Factor method.") Estimated Avg Weekly Sold Per Store
              span.required  *
            th(title="Please enter an EOQ for the allocation.") EOQ
              span.required  *
            th(title="Optional. To limit the allocation to the highest selling stores, enter the number of stores here.") Number of Stores
            th(title="Required if a number of store limit is used. If Exclude Stores is selected, RCAC's will not be able to enter qty for lower selling stores below the Number of Stores count.")  Exclude Stores  
            th(title="Used to set a minimum per store. The allocation will assign at minimum this qty to each store.  RCAC's will be able to reduce the qty below the minimum.") Min Per Store
            th(title="Used to set a maximum per store. The allocation will not assign a higher qty, and RCAC's will not be allowed to enter a qty higher than this number.") Max Per Store
            th(title="Enter a vendor number if you would like the allocation to override the attached vendor for each store.") Allocation Vendor ID
            th(title="If an allocation vendor is entered above, selecting yes to this option will limit the allocation to only the stores that are attached to this vendor.  If this vendor is limited to 250 stores, only those 250 stores will participate in this allocation.") Limit to Attached Vendor
            th(title="This sums the actual qty of the allocation after all settings and including RCAC changes are made.") Actual Allocation Quantity
            th(title="This is the average cost of the sku.") Average Cost
            th(title="This is the actual qty X the average cost.  It is the total cost of the allocation used for budgeting purposes.") Total Cost
            th(title="This is the actual number of stores that are participating in the allocation after all selling and RCAC changes are made.") Actual Number of Stores
        tbody
          if !allocParams || allocParams.length === 0
            tr
              td(colspan="20") Click to add a sku to the allocation.
          else
            each allocParam in allocParams
              tr
                if allocation.alloc_status === "Setup" && permissions.canUpdateAllocParams
                  td
                    input(type="text" name=`sku_nbr_${allocParam.id}` value=allocParam.sku_nbr)
                  td= allocParam.sku_nbr_sku.desc
                  td
                    input(type="text" name=`like_sku_${allocParam.id}` value=allocParam.like_sku)
                  td
                    input(type="text" name=`target_wos_${allocParam.id}` value=allocParam.target_wos)
                  td
                    input(type="text" name=`target_qty_${allocParam.id}` value=allocParam.target_qty)
                  td
                    input(type="text" name=`hard_qty_limit_${allocParam.id}` value=allocParam.hard_qty_limit)
                  td
                    select(name=`alloc_method_${allocParam.id}`)
                      option(value="Target WOS" selected=allocParam.alloc_method==="Target WOS") Target WOS
                      option(value="Target Qty" selected=allocParam.alloc_method==="Target Qty") Target Qty
                      option(value="Target Qty (Ignore QOH)" selected=allocParam.alloc_method==="Target Qty (Ignore QOH)") Target Qty (Ignore QOH)
                  td
                    select(name=`main_sales_method_${allocParam.id}`)
                      option(value="LY Sold" selected=allocParam.main_sales_method==="LY Sold") LY Sold
                      option(value="CY Sold" selected=allocParam.main_sales_method==="CY Sold") CY Sold
                      option(value="Subclass Factor" selected=allocParam.main_sales_method==="Subclass Factor") Subclass Factor
                      option(value="Sku Factor" selected=allocParam.main_sales_method==="Sku Factor") Sku Factor
                  td
                    input(type="text" name=`est_weekly_sales_${allocParam.id}` value=allocParam.est_weekly_sales)
                  td
                    input(type="text" name=`est_store_count_${allocParam.id}` value=allocParam.est_store_count)
                  td
                    input(type="text" name=`eoq_${allocParam.id}` value=allocParam.eoq)
                  td
                    input(type="text" name=`nbr_of_stores_${allocParam.id}` value=allocParam.nbr_of_stores)
                  td
                    select(name=`exclude_stores_${allocParam.id}`)
                      option(value="" selected=allocParam.exclude_stores==="") 
                      option(value="Yes" selected=allocParam.exclude_stores==="Yes") Yes
                      option(value="No" selected=allocParam.exclude_stores==="No") No
                  td
                    select(name=`limit_to_attached_vendor_${allocParam.id}`)
                      option(value="" selected=allocParam.limit_to_attached_vendor==="") 
                      option(value="Yes" selected=allocParam.limit_to_attached_vendor==="Yes") Yes
                      option(value="No" selected=allocParam.limit_to_attached_vendor==="No") No
                  td= allocParam.act_alloc_qty
                  td= allocParam.avg_cost
                  td= allocParam.total_cost
                  td= allocParam.act_nbr_of_stores
                else
                  td= allocParam.sku_nbr
                  td= allocParam.sku_nbr_sku.desc
                  td= allocParam.like_sku
                  td= allocParam.target_wos
                  td= allocParam.target_qty
                  td= allocParam.hard_qty_limit
                  td= allocParam.alloc_method
                  td= allocParam.main_sales_method
                  td= allocParam.est_weekly_sales
                  td= allocParam.est_store_count
                  td= allocParam.eoq
                  td= allocParam.nbr_of_stores
                  td= allocParam.exclude_stores
                  td= allocParam.limit_to_attached_vendor
                  td= allocParam.act_alloc_qty
                  td= allocParam.avg_cost
                  td= allocParam.total_cost
                  td= allocParam.act_nbr_of_stores
            if allocation.alloc_status === "Setup" && permissions.canAddAllocParams
              tr#add-sku-row
                td(colspan="20") Click To Add New Sku

      table.table.alloc-lines-table
        thead
          tr
            th Store Number
            th Store Name
            th Date Opened
            th Last Year Sales
            th Current Year Sales
            th Subclass Factor
            th SKU Factor
            th Quantity on Hand
            th Quantity on Order
            th Quantity on Hand plus Order
            th Average Retail
            th Calculated Allocation Quantity
            th New WOS
            th WOS
        tbody
          if !allocLines || allocLines.length === 0
            tr
              td(colspan="15") No allocation lines found.
          else
            each allocLine in allocLines
              tr
                td= allocLine.str_nbr
                td= allocLine.str_name
                td= allocLine.dt_opened
                td= allocLine.ly_sld
                td= allocLine.cy_sld
                td= allocLine.sc_factor
                td= allocLine.sku_factor
                td= allocLine.qoh
                td= allocLine.qoo
                td= allocLine.qoh_plus_qoo
                td= allocLine.avg_retail
                td
                  input(type="text" value=allocLine.calc_alloc_qty)
                td
                  input(type="text" value=allocLine.new_wos)
                td
                  input(type="text" value=allocLine.wos)