extend menu
block content
  - let currentAllocationId = null
  each record in vendorQtys
    if record.alloc_id !== currentAllocationId
      - currentAllocationId = record.alloc_id
      h2 #{record.alloc_name} - Review Due: #{record.alloc_review_due_date}
      table.table.rcac-reviews-table
        thead
          tr
            th Vendor ID
            th Vendor Name
            th Sku Number
            th Description
            th Allocation Qty
        tbody
          each record in vendorQtys.filter(r => r.alloc_id === currentAllocationId)
            tr
                td= record.act_vend_id
                td= record.vend_name
                td= record.sku_nbr
                td= record.sku_desc 
                td= record.tot_vend_qty

