table.table.alloc-lines-table
  thead
    tr
      th Store Nbr
      th Store Name
      th Date Opened
      th SKU
      th Description
      th Sales Method 
      th SC Factor 
      th SKU Factor
      th Last Year Sold
      th YTD Sold
      th QOH + QOO
      th Weeks Of Supply
      th Allocation Qty
      th Revised Alloc Qty 
      th New WOS
      th RCAC Name
      th Notes       
  tbody
    each line in allocLines
      tr
        td= line.str_nbr
        td= line.str_name
        td= line.dt_opened
        td= line.sku_nbr
        td= line.desc
        td= line.sales_method 
        td= line.sc_factor 
        td= line.sku_factor
        td= line.ly_sld 
        td= line.cy_sld 
        td= line.qoh_plus_qoo 
        td= line.wos 
        td= line.alloc_qty 
        td= line.revised_alloc_qty 
        td= line.new_wos 
        td= line.rcac_name
        td= line.notes											

