if !permissions.canViewAllocParams
  h2= allocation.alloc_name
table.table.alloc-lines-table
  thead
    tr
      th Store Nbr
      th Store Name
      if user.user_type !== 'RCAC'
        th Zone
      th District
      if user.user_type !== 'RCAC'
        th RCAC Name
      th Date Opened
      th Sku
      th Description
      th Last Year Sold
      th YTD Sold
      th QOH + QOO
      th Weeks Of Supply
      th Allocation Qty
      th Revised Alloc Qty 
      th New WOS
      th Notes       
  tbody
    each line in allocLines
      tr
        td= line.str_nbr
        td= line.str_name
        if user.user_type !== 'RCAC'
          td= line.zone_id
        td= line.dist_id
        if user.user_type !== 'RCAC'
          td= line.rcac_name
        td= line.dt_opened
        td= line.sku_nbr
        td= line.desc
        td= line.ly_sld 
        td= line.cy_sld 
        td= line.qoh_plus_qoo 
        td= line.wos 
        td= line.alloc_qty 
        td
          input(type="text" name=`revised_alloc_qty_${line.alloc_line_id}` value=line.revised_alloc_qty) 
        td= line.new_wos 
        td
          input(type="text" name=`notes_${line.alloc_line_id}` value=line.notes)